.card-page-container{
    display: flex;
    justify-content: space-evenly;

    margin-top: 80px;

    font-family: 'Poppins';
}

.card-row{
    max-height: 350px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text{
    text-align: center;
    padding: 10px 0 10px 0;
}